:root {
  --green-light: #04c35c;
  --purple-light: #2b6cb0;
  --white: #ffffff;
  --white-200: #f7fafc;
  --gray: #1a202c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  display: inline-block;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  display: flex;
}

.screen {
  flex: 1;
  height: 100vh;
  background: var(--white-200);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
}

.content {
  flex: 1;
  height: 100vh;
  background: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
}

.subtitle {
  font-family: "Merriweather", serif;
  font-size: 1rem;
  line-height: 1.25rem;
  font-weight: 400;
  margin-bottom: 8px;
  color: var(--gray);
}

.title {
  font-family: "Merriweather", serif;
  font-size: 1.625rem;
  line-height: 2.0625rem;
  font-weight: 700;
  margin-bottom: 40px;
  color: var(--gray);
}

.form > div > label {
  display: block;
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  line-height: 1.1875rem;
  font-weight: 400;
  color: var(--gray);
  margin-bottom: 12px;
}

.form > div > input {
  max-width: 100%;
  width: 350px;
  padding: 16px 20px;
  border: 1px solid #e8e8e8;
  border-radius: 4px;

  font-family: "Lato", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: var(--gray);
}

.form > div:first-child > input {
  margin-bottom: 12px;
}

.form > div > input[type="password"] {
  padding-top: 20px;
  padding-bottom: 12px;
}

.form > div > input::placeholder {
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: rgba(26, 32, 44, 0.5);
}

.form > div > input:focus {
  outline: none;
  border: 1px solid var(--green-light);
}

.remember {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 24px;
  padding-bottom: 24px;
}

.remember > div {
  display: flex;
  align-items: center;
}

.remember label {
  font-family: "Lato", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.0625rem;
  color: var(--gray);
  margin-left: 8px;
}

.remember label,
.remeber input {
  cursor: pointer;
}

.remember input {
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.remember a {
  font-family: "Lato", sans-serif;
  font-size: 0.875rem;
  line-height: 1.0625rem;
  font-weight: 400;
  color: #2b6cb0;
}

.remember a:hover {
  text-decoration: underline;
}

.btn {
  display: block;
  width: 100%;
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  line-height: 1.1875rem;
  font-weight: 700;
  color: var(--white);
  padding: 16px;
  border: none;
  background: var(--green-light);
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 16px;
}

.btn:hover {
  background: #03853d;
}

.secundary {
  background-color: var(--gray);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.secundary:hover {
  background: #212938;
}

.secundary::before {
  content: "";
  width: 20px;
  height: 20px;
  background: url("../img/google.svg");
}

.register {
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  line-height: 1.1875rem;
  font-weight: 400;
  text-align: center;
  margin-top: 50px;
}

.register a {
  color: #2b6cb0;
}

.register a:hover {
  text-decoration: underline;
}

@media (max-width: 720px) {
  .screen {
    display: none;
  }
}